.btn-rounded{
    border-radius: 50px;
    /* padding:0px 50px; */
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ccc;
    color:black;
    min-width: 100px;
    /* col */
}

.no-border{
    border:0;
}

.background-gray{
    background-color: #ccc;
}

.background-darkgray{
    background-color: rgb(122, 122, 122);
}


.background-black{
    background-color: black;
}


.text-white{
    color:white;
}

.text-gray{
    color:gray;
}

.text-lightgray{
    color:lightgray;
}

.active-border-btm{
    border-bottom:5px solid #6b6b6b;
}

.btn-group-lg>.btn, .btn-lg{
    border-radius: 0;
}

input::placeholder {
    font-weight: 600;
  }

  .custom-select{
    font-weight: 600;
}


.round {
    position: relative;
  }
  
  .round label {
    background-color: #fff;
    border: 2px solid rgb(129, 129, 129);
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 3px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #000000;
    border-color: #000000;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  